@use "../../styles/variables.scss" as *;

.heading-text {
	color: $secondary-blue;
	text-align: center;
	padding: 12px;
}

.normal-text {
	color: $light-blue;
	text-align: center;
}

.button {
	background-color: $primary-blue;
	border: none;
	color: $primary-beige;
	text-align: center;
	padding: 10px 40px;
	width: 170px;

	&:hover {
		background-color: $secondary-blue;
	}
}

.custom-button-wrapper {
	display: flex;
	justify-content: center; // Centers the button horizontally
	align-items: center;
}

.custom-button-wrapper button {
	@extend .button;
}
