@import "../styles/variables.scss";

body {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: $primary-beige;
	background-image: url("/img/background.jpg");
	background-size: cover;
}
