/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */
.Layout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

// .Layout > * {
// 	padding-inline: min(5dvw, 3.2rem);
// }

.Layout-header {
	background-color: var(--color-bg);
	padding-bottom: 0.5rem;
	padding-top: max(env(safe-area-inset-top), 1rem);
	text-align: center;
}

.Layout-header > h1 {
	margin: 0;
}

.Layout-main {
	margin: 0 auto;
	padding-block: 0;
	padding-block-end: 6.26rem;
	//width: min(72ch, 100%);
	width: 100%;
}
