@import "../styles/_variables";

.ListItemBox {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.5em;
	justify-content: space-between;
	background-color: $primary-blue;
	color: $primary-beige;
	border-radius: 4px;
}

.UrgencyStatus {
	display: block;
	background-color: $secondary-blue;
	color: $primary-beige;
	font-size: 1.25em;
	max-width: 50%;
	border-radius: 4px;
}
