@import "../styles/_variables";

.ListItemBox {
	align-items: baseline;
	font-size: 1.5em;
	justify-content: space-between;
	background-color: $primary-blue;
	color: $primary-beige;
	border-radius: 4px;
	max-width: 100%;
	box-sizing: border-box;
}

.UrgencyStatus {
	display: block;
	background-color: $secondary-blue;
	color: $primary-beige;
	font-size: 1.25em;
	max-width: 50%;
	width: 100%;
	border-radius: 4px;
}

.DeleteButton {
	width: fit-content;
}

.custom-borders {
	border: 2px solid $secondary-blue !important;
	border-radius: 4px !important;
	padding: 20px;
	margin-top: 20px;
	position: relative;
}

@media (max-width: 576px) {
	.EditItem {
		flex-direction: column;
	}
}
