@import "../styles/_variables";

.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
	justify-content: space-between;
	background-color: $primary-blue;
	color: $primary-beige;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}
