@import "../styles/variables.scss";

.navbar {
	background-color: $primary-blue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.navbar-brand {
	font-size: 3rem !important;
	font-weight: bolder;
	color: $secondary-blue !important;
	padding: 1rem 1rem;
	background-color: $primary-beige;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	width: 18rem;
	margin: 1rem 0 !important;

	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar .nav-link {
	color: $primary-beige;
	font-weight: bolder;
	font-size: 1.5em;
	flex: 0 1 auto;
	line-height: 1;
	padding: 0.8rem;
	text-align: center;
	text-underline-offset: 0.1em;

	&.active {
		text-decoration: underline;
		color: $primary-beige !important;
	}

	&:hover {
		color: $secondary-blue;
	}
}

.navbar button {
	background-color: $secondary-blue;
	color: $primary-beige;
	font-weight: bolder;
	border-color: $secondary-blue;
	font-size: 1.3em;

	&:hover {
		background-color: $primary-beige;
		color: $secondary-blue;
		font-weight: bolder;
		border-color: $secondary-blue;
	}
}
