@import "../styles/variables.scss";

.navbar {
	.navbar-brand {
		font-size: 3.5rem !important;

		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

		@media (max-width: 391px) {
			font-size: 3rem !important;
		}
		@media (max-width: 345px) {
			font-size: 2.5rem !important;
		}
	}

	.nav-link {
		color: $primary-beige;
		font-size: 1.5rem;
		line-height: 1;

		&.active {
			text-decoration: underline;
			color: $primary-beige !important;
			text-underline-offset: 0.3em;
		}

		&:hover {
			color: $secondary-blue;
		}
	}

	.navbar .navbar-toggler {
		background-color: $primary-beige;
	}
}

.navbar button {
	background-color: $secondary-blue;
	color: $primary-beige;
	font-weight: bold;
	border: none;
	font-size: 1.5rem;
	text-align: center;
	border: none;
	padding: 0.5rem;
	width: 11rem;

	&:hover {
		background-color: $primary-beige;
		color: $secondary-blue;
		font-weight: bolder;
	}
}
