@use "../styles/mixins.scss" as *;
@import "../views/unauthenticated/UnauthenticatedHome.scss";

.SingleList {
	@extend .custom-button-wrapper;
	list-style-type: none;
}

.SingleList button {
	width: 100%;
	margin: 5px;
	@include tablet {
		margin: 5px;
	}
}
