@import "../views/unauthenticated/UnauthenticatedHome.scss";

.SingleList {
	@extend .custom-button-wrapper;
	// @extend .button;
	align-items: baseline;
	font-size: 1.2em;
	width: 120px;
}

.SingleList-label {
	margin-left: 0.2em;
}
