@import "../../styles/variables";

.ListName {
	color: $primary-beige;
	background-color: $primary-blue;
	text-align: center;
	border-radius: 4px;
	font-size: 2.5em;
	max-width: 100%;
}

.ListPageContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.Add-ShareList {
	flex-basis: 25%;
}

.Share-ListForm {
	flex-basis: 80%;
}

.Add-ItemForm {
	flex-basis: 80%;
}

.ListItemSection,
.Add-ShareList {
	flex-grow: 1; /* Both sections will take up equal width */
	flex-shrink: 1;
	align-items: flex-end;
	flex-wrap: column;
	margin-left: 2%;
}

@media (max-width: 1000px) {
	.ListItemSection,
	.Add-ShareList {
		flex-basis: 50%;
		margin: auto;
		align-items: flex-end;
	}
}

@media (max-width: 575px) {
	.Add-ShareList {
		flex-basis: 100%; /* Full width for both sections */
		flex-wrap: wrap;
	}
}
