@import "../../styles/variables";

.ListName {
	color: $primary-beige;
	background-color: $primary-blue;
	text-align: center;
	border-radius: 4px;
	font-size: 2.5em;
	max-width: 100%;
}

.Header {
	text-align: center;
}

.ListPageContainer {
	width: 100%;
}

.Add-ShareList {
	flex-grow: 1;
	width: 50%;
}

.ListItemSection,
.Add-ShareList {
	flex-grow: 1; /* Both sections will take up equal width */
	width: 50%;
	align-items: flex-end;
}
